@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

$font-win: "Roboto", sans-serif;

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * 0.9);
}

body {
  margin: 0;
  overflow: hidden;
}

.board {
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-columns: repeat(3, auto);

  //align the grid to center
  justify-content: center;
  align-content: center;

  // align items inside the grid to center
  justify-items: center;
  align-items: center;
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid black;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  cursor: pointer;
}

//cell 1, 2, 3
.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

//cell 1, 4, 7
.cell:nth-child(3n + 1) {
  border-left: none;
}

//cell 3, 6, 9
.cell:nth-child(3n + 3) {
  border-right: none;
}

//cell 7, 8, 9
.cell:nth-child(7),
.cell:nth-child(8),
.cell:last-child {
  border-bottom: none;
}

//not allowed if meron nang X or O na nakalagay
.cell.x,
.cell.circle {
  cursor: not-allowed;
}

//styling X, hovering shows X
.cell.x::before,
.cell.x::after {
  background-color: lightseagreen;
}

.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
  background-color: lightgrey;
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
  content: "";
  width: calc(var(--mark-size) * 0.16);
  height: var(--mark-size);
  position: absolute;
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
  transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
  transform: rotate(-45deg);
}

//styling O, hovering shows O
.cell.circle::before,
.cell.circle::after {
  background-color: lightsalmon;
}

.board.circle .cell:not(.circle):not(.x):hover::before,
.board.circle .cell:not(.circle):not(.x):hover::after {
  background-color: lightgrey;
}
.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.circle):not(.x):hover::before,
.board.circle .cell:not(.circle):not(.x):hover::after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.cell.circle::before,
.board.circle .cell:not(.circle):not(.x):hover::before {
  width: var(--mark-size);
  height: var(--mark-size);
}

.cell.circle::after,
.board.circle .cell:not(.circle):not(.x):hover::after {
  width: calc(var(--mark-size) * 0.7);
  height: calc(var(--mark-size) * 0.7);
  background-color: white;
}

// Winning Message and Button
.winning-message {
  display: none;
  position: fixed;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);

  justify-content: center;
  align-items: center;
  flex-direction: column; //stacks message and button vertically

  color: white;
  font-size: 5rem;
  font-family: $font-win;
}

.winning-message button {
  background-color: white;
  border: none;
  border-radius: 10px;
  padding: 1%;

  cursor: pointer;

  font-size: 3rem;
  font-family: $font-win;
}

.winning-message button:hover {
  background-color: goldenrod;
  color: white;
}

.winning-message.show {
  display: flex;
}
